{{! Maintainers - Kev Adsett}}
<div class="component-inner textFeedback-inner">
    {{> component this}}
    {{! complex unless and if combination to set the correct classes for CSS to use in showing marking and disabled states}}
    <div class="component-widget textFeedback-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        {{#each _items}}
        <div class="textFeedback-item component-item  clearfix {{#unless ../_isEnabled}}{{#if correct}}correct{{else}}incorrect{{/if}}{{/unless}}">
            {{#if prefix}}
                <label class="textFeedback-item-prefix component-item-text-color">{{{prefix}}}</label>
            {{/if}}
            {{#if ../_isEnabled}}
                 <textarea name="comments"cols="35" rows="5" maxlength="300" class="textFeedback-item-textbox" data-id="input-{{@index}}" value=""></textarea>
            {{else}}
                <textarea name="comments"cols="35" rows="5" maxlength="300" class="textFeedback-item-textbox" data-id="input-{{@index}}" value="{{userAnswer}}"></textarea>
            {{/if}}
            {{#if suffix}}
                <label class="textFeedback-item-suffix component-item-text-color">{{{suffix}}}</label>
            {{/if}}
            <div class="textFeedback-item-state">
                <div class="textFeedback-icon textFeedback-correct-icon icon icon-tick"></div>
                <div class="textFeedback-icon textFeedback-incorrect-icon icon icon-tick"></div>
            </div>
        </div>
        {{/each}}
        {{! if statements set default button labels if unset in json}}
        <div class="buttons">
            {{> buttons this}}
        </div>
        <div class="showButton">
        </div>
    </div>
</div>